@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #bc0a0a;
}
.base{
    margin-right: 15%;
    margin-left: 15%;
    height: 100%;
    background-color: white;
}
.navbar{
    width: 100%;
    height: 150px;
}
.logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}
.search{
    float: right;
    padding-top: 30px;
    margin-right: 50px;
}
.search{
    display: inline-block;
    margin-top: 30px;
}
.logo a{
    color: #000;
    text-decoration: none;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
.search a{
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    padding: 6px 3px;
    background-color: #bc0a0a;
}
.imgs{
    border:2px solid #000;
}

#menu {
    margin: 0;
    padding:0;
}
.hmenu{
    display:inline-block;
    list-style:none;
    background-color: #250606;
}
.hmenu li{
    display: inline-block;
    padding: 15px;
    text-align: center;

}
.hmenu li:hover{
    background-color: rgb(156, 21, 21);
    transition: .5s;
}
.hmenu li a{
    font-weight: bold;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFF;
    text-decoration: none;
}
.hmenu li ul{
    position: absolute;
    list-style: none;
    display: none;
    min-width:120px;
    margin-top:15px;
    margin-left: -15px;
}
.hmenu li ul:hover{
    background-color: #cf2e2e;
}
.hmenu li ul li{
    display: block;
}
.hmenu li:hover ul{
    display: block;
}

ul.hmenu ul li {
    height: 30px;
    background-color:#FFF;
    margin-left: auto;
    text-align: left;
    padding:3px;

}
ul.hmenu ul li a{
    width: 200%;
    height: 30px;
    padding: 5px;
    text-align: center;
    font-size: medium;
    color: #111;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}





button:focus{outline: 0;}

.slider{
    position: relative;
    width: 66%;
    height: 300px;
    overflow: hidden;
}

.slide{
    position: absolute;
    top: 30px;
    left: 50px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .4s linear;
}
.active{
    opacity: 1;
}
.slide .inner{
    position: absolute;
    bottom: 50px;
    left: 50px;
    background-color: rgba(0, 0, 0, .8);
    color: #eee;
    padding: 10px 10px;
    opacity: 0;
}
.slide.active .inner{
    opacity: 1;
}

.slide:nth-child(1) {background: url(img/1.png) no-repeat}
.slide:nth-child(2) {background: url(img/2.png) no-repeat}
.slide:nth-child(3) {background: url(img/3.png) no-repeat}
.slide:nth-child(4) {background: url(img/4.png) no-repeat}
.slide:nth-child(5) {background: url(img/5.png) no-repeat}

.indicators{
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: default;
}
.indicators button{
    padding: 10px 20px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, .7);
    color: #eee;
    border: 0;
}
















.cate{
    width: 70%;
    margin-top: 25px;
    display: inline-block;
}
.new{
    background-color: #bc0a0a;
    color: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.category{
    border: 1px solid #ccc;
    margin-left: 5%;
    margin-bottom: 5%;
}
.categorya{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.categoryb {
    height: 100%;
    width: 49%;
    display: inline-block;
}
.categoryb img{
    height: 100%;
    width: 100%;
}
.hour{
    margin-top: 25px;
    margin-right: 25px;
    width: 25%;
    height: 20%;
    float: right;}
.hours{
    margin-top: 0px;
    margin-right: 25px;
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    float: right;
}
.hoursa{
    background-color: #bc0a0a;
    color: #FFF;
    padding-left: 15px;
    margin: 10px;
}
.hoursb{
    padding-left: 15px;
    padding-right: 15px;
}
.info{
    margin-top: 10px;
    margin-right: 25px;
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    float: right;

}
.infoa{
    background-color: #bc0a0a;
    color: #FFF;
    padding-left: 15px;
    margin: 10px;
}
.info img{
    height: 75%;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
}
.digi{
    margin-top: 10px;
    margin-right: 25px;
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    float: right;
}
.digia{
    background-color: #bc0a0a;
    color: #FFF;
    padding-left: 15px;
    margin: 10px 10px 10px 10px;
}
.digi img{
    height: 75%;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
}
.lib{
    margin-top: 10px;
    margin-right: 25px;
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    float: right;
}
.liba{
    background-color: #bc0a0a;
    color: #FFF;
    padding-left: 15px;
    margin: 10px;
}
.lib img{
    height: 75%;
    width: 75%;
    margin: 10px;
}