@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #bc0a0a;
}
.base{
    margin-right: 15%;
    margin-left: 15%;
    height: 100%;
    background-color: white;
}
.navbar{
    width: 100%;
    height: 150px;
}
.logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}
.search{
    float: right;
    padding-top: 30px;
    margin-right: 50px;
}
.search{
    display: inline-block;
    margin-top: 30px;
}
.logo a{
    color: #000;
    text-decoration: none;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
.search a{
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    padding: 6px 3px;
    background-color: #bc0a0a;
}
.imgs{
    border:2px solid #000;
}

#menu {
    margin: 0;
    padding:0;
}
.hmenu{
    display:inline-block;
    list-style:none;
    background-color: #250606;
}
.hmenu li{
    display: inline-block;
    padding: 15px;
    text-align: center;

}
.hmenu li:hover{
    background-color: rgb(156, 21, 21);
    transition: .5s;
}
.hmenu li a{
    font-weight: bold;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFF;
    text-decoration: none;
}
.hmenu li ul{
    position: absolute;
    list-style: none;
    display: none;
    min-width:120px;
    margin-top:15px;
    margin-left: -15px;
}
.hmenu li ul:hover{
    background-color: #cf2e2e;
}
.hmenu li ul li{
    display: block;
}
.hmenu li:hover ul{
    display: block;
}

ul.hmenu ul li {
    height: 30px;
    background-color:#FFF;
    margin-left: auto;
    text-align: left;
    padding:3px;

}
ul.hmenu ul li a{
    width: 200%;
    height: 30px;
    padding: 5px;
    text-align: center;
    font-size: medium;
    color: #111;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}





.slider{
    position: relative;
    width: 880px;
    height: 400px;
    border: 1px solid #ccc;
    margin-top: 30px;
    margin-left: 50px;
    overflow: hidden;
}
.slider-content{
    position: absolute;
    width: 800%;
    left: 0;

    animation: slide 10s infinite;
}
.slider-item{
    width: 11%;
    float: left;
    padding-right: 100px;
}
.slider-item img{
    padding-left: 6%;
    margin-right: 10px;
    width: 100%;
    height: 300px;

}
@keyframes slide {
    0% {
        transform: translateX(0px);
    }
    6.25% {
        transform: translateX(-880px);
    }
    12.5% {
        transform: translateX(-880px);
    }
    18.75% {
        transform: translateX(-1760px);
    }
    25% {
        transform: translateX(-1760px);
    }
    31.25% {
        transform: translateX(-2640px);
    }
    37.5% {
        transform: translateX(-2640px);
    }
    43.75% {
        transform: translateX(-3520px);
    }
    50%{
        transform: translateX(-3520px);
    }
    56.25% {
        transform: translateX(-4400px);
    }
    62.5% {
        transform: translateX(-4400px);
    }
    68.75% {
        transform: translateX(-5200px);
    }
    75% {
        transform: translateX(-5280px);
    }
    81.25% {
        transform: translateX(-6160px);
    }
    87.5% {
        transform: translateX(-6160px);
    }
    93.75% {
        transform: translateX(-7040px);
    }
    
}













.cate{
    width: 70%;
    margin-top: 25px;
    display: inline-block;
}
.new{
    background-color: #bc0a0a;
    color: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.category{
    border: 1px solid #ccc;
    margin-left: 5%;
    margin-bottom: 5%;
}
.categorya{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.categoryb {
    height: 100%;
    width: 49%;
    display: inline-block;
}
.categoryb img{
    height: 100%;
    width: 100%;
}
.hour{
    margin-top: 25px;
    margin-right: 25px;
    width: 25%;
    height: 20%;
    float: right;}
.hours{
    margin-top: 0px;
    margin-right: 25px;
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    float: right;
}
.hoursa{
    background-color: #bc0a0a;
    color: #FFF;
    padding-left: 15px;
    margin: 10px;
}
.hoursb{
    padding-left: 15px;
    padding-right: 15px;
}
.info{
    margin-top: 10px;
    margin-right: 25px;
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    float: right;

}
.infoa{
    background-color: #bc0a0a;
    color: #FFF;
    padding-left: 15px;
    margin: 10px;
}
.info img{
    height: 75%;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
}
.digi{
    margin-top: 10px;
    margin-right: 25px;
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    float: right;
}
.digia{
    background-color: #bc0a0a;
    color: #FFF;
    padding-left: 15px;
    margin: 10px 10px 10px 10px;
}
.digi img{
    height: 75%;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
}
.lib{
    margin-top: 10px;
    margin-right: 25px;
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    float: right;
}
.liba{
    background-color: #bc0a0a;
    color: #FFF;
    padding-left: 15px;
    margin: 10px;
}
.lib img{
    height: 75%;
    width: 75%;
    margin: 10px;
}